
    <div class = "insidedivs" >
        {% if message %}
            <h3>{{ message }}</h3>
        {% endif %}
    </div>
    <div class = "insidedivs" >
        {% if group_details %}
            {% for group_id,details in group_details.items() %}
            <div class="clickable clickp" id="g-{{group_id}}">
                <div style="position: absolute;left: 0px;"><img  class="cover rounded" src="/static/groupicon.png" alt="groupicon" style="width:80px;"></div>
                <div class="mb-4"  style="background-color: #fcf0f0; position: relative;left: 90px;" >
                    <!--::before-->
                    <!--<div style="float:left;"><img  class="cover rounded" src="/static/groupicon.png" alt="groupicon" style="width:110px;"></div>-->
                    <div class="group_summ" style="text-align:left;" >
                        <div ><h5>{{details[0][0].capitalize()}}</h5></div>
                        <div class='sub_sub' >
                            {% for det in details %}
                                {% if det[2] > 0 %}
                                    <div  style="color: #6cc269 ;"><strong> you are owed {{det[1]}}{{det[2]}}</strong></div>
                                {% else %}
                                    <div  style="color:#ff0000 ;"><strong>you owe {{det[1]}}{{(det[2]*(-1))}}</strong></div>
                                {% endif%}
                            {% endfor %}
                        </div>
                        <div >
                            {% for user_balances in individual_details[group_id] %}
                                <div style="color:#6c706c;"><small>{{user_balances}}</small></div>
                            {% endfor %}
                        </div>
                        <!--::after-->
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}

        {% if settled_groups %}
            {% for group_id,groupname in settled_groups.items() %}
            <div class="clickable clickp" id="g-{{group_id}}">
                <div style="position: absolute;left: 0px;"><img  class="cover rounded" src="/static/groupicon.png" alt="groupicon" style="width:80px;"></div>
                <div class="mb-4" style="background-color: #fcf0f0; position: relative;left: 90px;">
                    <div class="group_summ" style="text-align:left;" >
                        <div><h5>{{ groupname.capitalize() }}</h5></div>
                            <div style="color: #4e524e;">
                                <strong>settled up</strong> 
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
    

