{% if group_id %}
    <input type='hidden' id="pickid" value="{{group_id}}">
    <div class="groupbuttons groupbuttonscript mb-3 pb-3">
        <button class="btn btn-danger mx-1" type="button" id="settleup">Settle Up</button>
        <button class="btn btn-danger mx-1" type="button" id="balances">Balances</button>
        <button class="btn btn-danger mx-1" type="button" id="totals">Totals</button>
    </div>
{% endif %}
<div id="settlediv" class="" style="display: none; border: #6c706c; border-width: thin;"></div>
<div id="balancesdiv" class="" style="display: none;"></div>
<div id="totalsdiv" class="" style="display: none;"></div>

<div id="group_transactions">

    <div class = "group_insidedivs" >
        {% if message %}
            <h3>{{ message }}</h3>
        {% endif %}
    </div>
    <div class = "group_insidedivs" >
        <h4 class='mb-5 transhead' >Transactions</h4>
        {% if transaction_details %}
            {% for trans_id,details in transaction_details.items() %}
                <div class="mb-5" >
                    <div class="transdate" style="position: absolute;left: 100px;">{{details[0]}}</div>
                    <div class="transimage" style="position: absolute;left: 170px;"><img  class="cover rounded" src="/static/bill.png" alt="groupicon" style="width:70px; height: 80px;"></div>
                    <div  class="trans" style="position: relative;left: 250px;" >
                        <div class="group_summ" style="text-align:left;" >
                            <div ><h5>{{details[1].capitalize()}}</h5></div>
                            <div class='trans_sub' >
                                <div  style="color:#6c706c ;"><strong>{{details[3]}}</strong></div>
                            </div>
                            <div style="color:#6c706c;"><small>{{details[2]}}</small></div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>