{% extends "layout.html" %}

{% block title %} Login {% endblock %}

{% block main %}

    {% if error %}
    <div class="alert alert-warning" role="alert">
        {{ error }}
    </div>
    {% endif %}

    <div class="m-3 p-3"></div>

    <div class="col d-flex justify-content-center">
        <div class="card w-50 effect">
            <div class="card-body">
            <h3 class="card-title ">Log in</h3>
            <div class="m-2 p-2"></div>
                <form action="/login" method="post">
                    <div class="mb-3">
                        <input required class="form-control mx-auto w-50" id="email" name="email" placeholder="Email" type="email">
                    </div>
                    
                    <div class="mb-3">
                        <input required class="form-control mx-auto w-50" id="password" name="password" placeholder="Password" type="password">
                    </div>
                    <div class="m-1 p-1"></div>
                    <button class="btn btn-danger w-50" type="submit">Log In</button>
                </form>
            </div>
        </div>
    </div>


{% endblock %}