
<div class="col d-flex">
    <div class="card effect amountdivcard">
        <div class="card-header bg-danger c-head">Split by percentage<a id="Xpercent" class="xformat" href="#">   X</a></div>
        <div class="card-body bodytable"> 
            <table class="table-condensed">
                <tbody>
                    {% for id,name in finalsharers.items() %}
                        <tr >
                            <td><label for="percentinput" class ="person" style="float: left;">{{name}}:   </label></td>
                            <td>%</td>
                            <td class="percentcell">
                                <input class="form-control percentinput" type="number" step='0.01' name="percentinput" placeholder="{{split_percent}}"/>
                            </td>
                        </tr>
                    {% endfor %}  
                </tbody>
            </table>
            <div >
                <input type="button" value="Finish" class="btn btn-danger my-1" id="percentdone" >        
            </div>
        </div>
    </div>
</div>